<div class="flex space-between">
    <h1>Projects</h1>
    <a mat-raised-button color="primary" routerLink="./new" role="button">Create</a>
</div>
<mat-table [dataSource]="projects" aria-label="projects">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
        <mat-cell *matCellDef="let project">{{project.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef class="table-header">Year</mat-header-cell>
        <mat-cell *matCellDef="let project">{{project.year}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="conductor">
        <mat-header-cell *matHeaderCellDef class="table-header">Conductor</mat-header-cell>
        <mat-cell *matCellDef="let project">{{ project.conductor }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
        <mat-cell *matCellDef="let project">
            <a mat-icon-button aria-label="details" routerLink="./{{project.id}}" role="button">
                <mat-icon>info</mat-icon>
            </a>
            <a mat-icon-button aria-label="duplicate" routerLink="./new" [queryParams]="{ from: project.id }" role="button">
                <mat-icon>library_add</mat-icon>
            </a>
            <button mat-icon-button aria-label="delete" (click)="toggleDeleteDialog(project)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>