<div>
    <h1 mat-dialog-title>{{ title }}</h1>
    <div mat-dialog-content>
        <p>Are you sure you want to {{ actionText }}?</p>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" (click)="confirm()" [loading]="loading">{{ actionButtonText }}</button>
    </div>
</div>