<div class="flex space-between">
    <h1>Musicians</h1>
    <button mat-raised-button color="primary" (click)="toggleCreateDialog()">Create</button>
</div>
<mat-table [dataSource]="musicians" aria-label="musicians">
    <ng-container matColumnDef="givenName">
        <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
        <mat-cell *matCellDef="let musician">{{musician.givenName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="familyName">
        <mat-header-cell *matHeaderCellDef class="table-header">Family name</mat-header-cell>
        <mat-cell *matCellDef="let musician">{{musician.familyName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="instrument">
        <mat-header-cell *matHeaderCellDef class="table-header">Instrument</mat-header-cell>
        <mat-cell *matCellDef="let musician">{{ musician.instrument.name | titlecase }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef class="table-header">From</mat-header-cell>
        <mat-cell *matCellDef="let musician">{{ musician.location.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
        <mat-cell *matCellDef="let musician">
            <button mat-icon-button aria-label="edit" (click)="toggleEditDialog(musician)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="delete" (click)="toggleDeleteDialog(musician)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>