<form #form="ngForm" (ngSubmit)="add()" role="form">
    <mat-table [dataSource]="getHistoricalValues(values)" [attr.aria-label]="ariaLabel">
        <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef class="table-header">Start</mat-header-cell>
            <mat-cell *matCellDef="let historical">{{historical.start}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef class="table-header">End</mat-header-cell>
            <mat-cell *matCellDef="let historical">{{historical.end}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef class="table-header">Value ({{ unit }})</mat-header-cell>
            <mat-cell *matCellDef="let historical">{{historical.value}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
            <mat-cell *matCellDef="let historical">
                <button *ngIf="historical.position === 0" type="button" mat-icon-button aria-label="delete" (click)="delete()" [loading]="deleteLoading">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="header-start">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input type="date" role="input" required name="since" matInput [(ngModel)]="_newHistorical.since" [min]="getInputMinDate()">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="header-end">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="header-value">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input type="number" required name="value" matInput [(ngModel)]="_newHistorical.value">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="header-actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid || !isValidInputDate()" [loading]="addLoading">Add</button>
            </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-header-row class="input-row" *matHeaderRowDef="['header-start', 'header-end', 'header-value', 'header-actions']"></mat-header-row>
        <mat-row *matRowDef="let a; columns: columns;"></mat-row>
    </mat-table>
</form>