<div class="flex space-between">
    <h1>Locations</h1>
    <button mat-raised-button color="primary" (click)="toggleCreateDialog()">Create</button>
</div>
<mat-table [dataSource]="locations" aria-label="locations">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="distance">
        <mat-header-cell *matHeaderCellDef class="table-header">Distance</mat-header-cell>
        <mat-cell *matCellDef="let location">{{location.distance}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
        <mat-cell *matCellDef="let musician">
            <button mat-icon-button aria-label="edit" (click)="toggleEditDialog(musician)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="delete" (click)="toggleDeleteDialog(musician)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let a; columns: columns;"></mat-row>
</mat-table>