<form class="dialog" #musicianForm="ngForm" (ngSubmit)="submit()" role="form">
    <h1 mat-dialog-title>{{getDialogType() | titlecase}} musician</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" required name="firstName" matInput #firstName="ngModel" [(ngModel)]="musician.givenName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Family name</mat-label>
            <input type="text" required name="familyName" matInput [(ngModel)]="musician.familyName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Instrument</mat-label>
            <mat-select required name="instrument" matInput [(ngModel)]="musician.instrumentId">
                <mat-option *ngFor="let instrument of instruments" [value]="instrument.id">
                    {{ instrument.name | titlecase }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>From</mat-label>
            <mat-select required name="location" matInput [(ngModel)]="musician.locationId">
                <mat-option *ngFor="let location of locations" [value]="location.id">
                    {{ location.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Account number</mat-label>
            <input type="text" required name="accountNumber" matInput [(ngModel)]="musician.accountNumber">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!musicianForm.form.valid" [loading]="loading">Submit</button>
    </div>
</form>
