<h1>Historical values</h1>
<div class="flex">
    <div class="row flex">
        <div role="region" aria-labelledby="rehearsal-prices-header">
            <h2 id="rehearsal-prices-header">Rehearsal prices</h2>
            <app-historical-value-table [type]="historicalTypes.REHEARSAL" unit="€/h" ariaLabel="rehearsal prices"></app-historical-value-table>
        </div>
        <div role="region" aria-labelledby="concert-prices-header">
            <h2 id="concert-prices-header">Concert prices</h2>
            <app-historical-value-table [type]="historicalTypes.CONCERT" unit="€" ariaLabel="concert prices"></app-historical-value-table>
        </div>
    </div>
    <div class="row flex">
        <div role="region" aria-labelledby="mileage-prices-header">
            <h2 id="mileage-prices-header">Mileage prices</h2>
            <app-historical-value-table [type]="historicalTypes.MILEAGE" unit="€/km" ariaLabel="mileage prices"></app-historical-value-table>
        </div>
        <div></div>
    </div>
</div>
