div.row {
    width: 100%;
    padding: 1em;
    
    > * {
        flex: 1;

        &:not(:last-child) {
            padding-right: 1em;
        }
    }
}

::ng-deep .mat-mdc-form-field-infix {
    padding: 0 !important;
    min-height: 30px !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}