<form class="dialog" #modelForm="ngForm" (ngSubmit)="submit()" role="form">
    <h1 mat-dialog-title>{{getFormType() | titlecase}} rehearsal</h1>
    <div mat-dialog-content class="grid">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input type="date" required name="date" matInput [(ngModel)]="model.date" [appSameYearValidator]="getAcademicYearForProject()" #date="ngModel">
            <mat-error *ngIf="date.errors?.['required']">Date is required</mat-error>
            <mat-error *ngIf="date.errors?.['invalidDate']">Date should be between {{date.errors?.['invalidDate'].start}} and {{date.errors?.['invalidDate'].end}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Duration</mat-label>
            <app-duration-input required appNonEmptyDurationValidator name="duration" matInput [(ngModel)]="model.duration"></app-duration-input>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!modelForm.form.valid" [loading]="loading">Submit</button>
    </div>
</form>