<form class="dialog" #modelForm="ngForm" (ngSubmit)="submit()" role="form">
    <h1 mat-dialog-title>{{getFormType() | titlecase}} concert</h1>
    <div mat-dialog-content class="grid">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input type="date" required name="date" matInput [(ngModel)]="model.date" [appSameYearValidator]="getAcademicYearForProject()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Location</mat-label>
            <input required name="duration" matInput [(ngModel)]="model.location">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!modelForm.form.valid" [loading]="loading">Submit</button>
    </div>
</form>