.grid {
    display: flex;

    & > :not(.divider) {
        flex: 1;
    }

    &.root {
        > :first-child {
            flex: 5
        }

        > :last-child {
            flex: 3
        }
    }
}

.separator {
    flex: 1;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    & > *:not(:first-child) {
        margin-left: 1em;
    }
}