<div fxLayout="row" role="region" aria-label="header">
    <h1>Project</h1>
    <div class="separator"></div>
    <div class="actions">
        <div style="position: relative">
            <button
                mat-raised-button
                color="accent"
                type="button"
                (click)="payOut()"
                aria-label="pay out"
                [disabled]="!hasValidHistoricals()"
            >Pay out</button>
            <div
                style="width: 100%; height: 100%; position: absolute; top: 0; left: 0"
                *ngIf="!hasValidHistoricals()"
                matTooltip="Historicals are missing for the rehearsals or concerts in this project"
            ></div>
        </div>
        <button mat-raised-button color="primary" type="button" (click)="edit()" aria-label="edit">Edit</button>
        <button mat-raised-button color="warn" type="button" (click)="delete()" aria-label="delete">Delete</button>
    </div>
</div>
<div fxLayout="row" fxLayout.lt-xl="column" fxLayoutGap="1.5em">
    <div fxLayout="column" fxFlex="">
        <div role="region" aria-labelledby="general-header">
            <h2 id="general-header">General information</h2>
            <app-field-display headerId="project-name" name="Name" [value]="project.name"></app-field-display>
            <app-field-display headerId="project-year" name="Year" [value]="project.year"></app-field-display>
            <app-field-display headerId="project-conductor" name="Conductor" [value]="project.conductor"></app-field-display>
        </div>

        <div fxLayout="row" fxLayoutGap="1.5em">
            <div fxFlex="" role="region" aria-labelledby="rehearsals-header">
                <div class="flex">
                    <h2 id="rehearsals-header">Rehearsals</h2>
                    <div class="separator"></div>
                    <div class="actions">
                        <button mat-raised-button color="primary" aria-label="create" (click)="createRehearsal()">Create</button>
                    </div>
                </div>
                <mat-table [dataSource]="rehearsals" aria-label="rehearsals">
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef class="table-header">Date</mat-header-cell>
                        <mat-cell *matCellDef="let rehearsal">{{rehearsal.date | date:'yyyy-MM-dd'}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef class="table-header">Duration</mat-header-cell>
                        <mat-cell *matCellDef="let rehearsal">{{rehearsal.duration}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
                        <mat-cell *matCellDef="let rehearsal">
                            <button type="button" mat-icon-button aria-label="record attendance" (click)="recordRehearsalAttendance(rehearsal)">
                                <mat-icon>list</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="edit" (click)="editRehearsal(rehearsal)" [disabled]="rehearsal.attendees.length > 0">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="delete" (click)="deleteRehearsal(rehearsal)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="rehearsalTableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: rehearsalTableColumns"></mat-row>
                </mat-table>
            </div>

            <div class="divider"></div>

            <div fxFlex="" role="region" aria-labelledby="concerts-header">
                <div class="flex">
                    <h2 id="concerts-header">Concerts</h2>
                    <div class="separator"></div>
                    <div class="actions">
                        <button mat-raised-button color="primary" aria-label="create" (click)="createConcert()">Create</button>
                    </div>
                </div>
                <mat-table [dataSource]="concerts" aria-label="concerts">
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef class="table-header">Date</mat-header-cell>
                        <mat-cell *matCellDef="let concert">{{concert.date | date:'yyyy-MM-dd'}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef class="table-header">Location</mat-header-cell>
                        <mat-cell *matCellDef="let concert">{{concert.location}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
                        <mat-cell *matCellDef="let concert">
                            <button type="button" mat-icon-button aria-label="record attendance" (click)="recordConcertAttendance(concert)">
                                <mat-icon>list</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="edit" (click)="editConcert(concert)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="delete" (click)="deleteConcert(concert)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="concertTableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: concertTableColumns"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div fxFlex="" role="region" aria-labelledby="participants-header">
        <h2 id="participants-header">Participants</h2>
        <mat-table [dataSource]="participants" aria-label="musicians">
            <ng-container matColumnDef="givenName">
                <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
                <mat-cell *matCellDef="let musician">{{musician.givenName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="familyName">
                <mat-header-cell *matHeaderCellDef class="table-header">Family name</mat-header-cell>
                <mat-cell *matCellDef="let musician">{{musician.familyName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="instrument">
                <mat-header-cell *matHeaderCellDef class="table-header">Instrument</mat-header-cell>
                <mat-cell *matCellDef="let musician">{{ musician.instrument.name | titlecase }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="participantTableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: participantTableColumns"></mat-row>
        </mat-table>
    </div>
</div>