<form class="dialog" #locationForm="ngForm" (ngSubmit)="submit()" role="form">
    <h1 mat-dialog-title>{{getDialogType() | titlecase}} location</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" required name="name" matInput [(ngModel)]="location.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Distance</mat-label>
            <input type="number" required name="distance" matInput [(ngModel)]="location.distance">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!locationForm.form.valid" [loading]="loading">Submit</button>
    </div>
</form>
