@use '../../../../../dialog.scss';

.dialog {
    min-width: 600px;
}

.cell-duration {
    border: 1px lightgrey solid;
    border-radius: 5px;
    padding: 5px 10px;
}

.checkbox-cell {
    padding: 0;
    flex: inherit;
}