<form class="dialog" #modelForm="ngForm" (ngSubmit)="submit()" role="form">
    <h1 mat-dialog-title>Attendance: {{ event.project.name }} on {{ formatDate(event.date) }}</h1>
    <div mat-dialog-content class="grid">
        <mat-table [dataSource]="participants" aria-label="musicians">
            <ng-container matColumnDef="selected">
                <mat-header-cell *matHeaderCellDef class="checkbox-cell">
                    <mat-checkbox
                        [disabled]="participants.length === 0"
                        [checked]="participants.length > 0 && areAllMusiciansSelected()"
                        [indeterminate]="!areAllMusiciansSelected() && isSomeMusicianSelected()"
                        (change)="toggleAllMusicians()"
                    ></mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let musician" class="checkbox-cell">
                    <mat-checkbox 
                        [checked]="isMusicianSelected(musician)"
                        [indeterminate]="getDurationForMusician(musician).totalSeconds > 0 && !getDurationForMusician(musician).equals(event.duration)"
                        (change)="toggleMusician(musician)"
                    ></mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="duration">
                <mat-header-cell *matHeaderCellDef class="table-header">Time</mat-header-cell>
                <mat-cell *matCellDef="let musician">
                    <div class="cell-duration">
                        <app-duration-input matInput [ngModelOptions]="{standalone: true}" [ngModel]="getDurationForMusician(musician)" (ngModelChange)="updateDurationForMusician(musician, $event)" [max]="event.duration"></app-duration-input>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="givenName">
                <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
                <mat-cell *matCellDef="let musician">{{musician.givenName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="familyName">
                <mat-header-cell *matHeaderCellDef class="table-header">Family name</mat-header-cell>
                <mat-cell *matCellDef="let musician">{{musician.familyName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="instrument">
                <mat-header-cell *matHeaderCellDef class="table-header">Instrument</mat-header-cell>
                <mat-cell *matCellDef="let musician">{{ musician.instrument.name | titlecase }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns"></mat-row>
        </mat-table>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!modelForm.form.valid || event.attendees.length === 0" [loading]="loading">Submit</button>
    </div>
</form>