<div class="flex space-between">
    <h1>Pending events</h1>
</div>
<mat-table [dataSource]="getPendingEvents()" aria-label="pending events">
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef class="table-header">Date</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef class="table-header">Type</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.type | titlecase}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef class="table-header">Project</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.projectName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef class="table-header">Duration</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.duration}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef class="table-header">Location</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.location}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="table-header"></mat-header-cell>
        <mat-cell *matCellDef="let event">
            <button type="button" mat-icon-button aria-label="record attendance" (click)="recordAttendance(event)">
                <mat-icon>list</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="pendingEventsTableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: pendingEventsTableColumns"></mat-row>
</mat-table>
