@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/theme' as theme;

.toolbar {
    display: flex;
    align-items: center;

    .navigation {
        flex: 1;
        padding: 0 1em;
        
        > * {
            padding: 0 1em;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: mat.get-color-from-palette(theme.$accent-palette, '500-contrast');
        }
    }
}

div.content {
    padding: 1em;
}