<mat-toolbar color="primary" class="toolbar" style="position: sticky; top: 0; z-index: 10;">
    <h1>Ensembler</h1>
    <div class="navigation">
        <a title="Home" [routerLink]="['/']">Home</a>
        <a title="Musicians" [routerLink]="['/musician']">Musicians</a>
        <a title="Projects" [routerLink]="['/project']">Projects</a>
        <a title="Locations" [routerLink]="['/location']">Locations</a>
        <a title="Historicals" [routerLink]="['/historical']">Historicals</a>
    </div>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>