<div class="flex">
    <h1>{{getPageTitle()}}</h1>
    <div class="separator"></div>
    <div class="actions" *ngIf="!!formType">
        <button mat-raised-button color="warn" type="button" (click)="close()" [disabled]="loading">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!modelForm.form.valid" [loading]="loading">Submit</button>
    </div>
</div>
<ng-content></ng-content>
