* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog {
    h1, h2 {
        font-size: large;
    }

    mat-form-field:first-child {
        padding-top: 0.5em;
    }

    mat-form-field {
        width: 100%;
    }
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
        margin: 0 0.25em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}