// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'sass:map';
@use '@material/circular-progress/circular-progress-theme' as mdc-circular-progress-theme;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(theme.$theme);

/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    font-weight: bold;
}

.table-header {
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    &.mat-primary:not(:disabled), &.mat-accent:not(:disabled), &.mat-warn:not(:disabled) {
        mat-progress-spinner {
            $color: map.get(map.get(map.get(theme.$theme, color), primary), default-contrast) !important;
            @include mdc-circular-progress-theme.theme((active-indicator-color: $color));
        }
    }
}

form {
    mat-form-field {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    mat-form-field {
        width: 100%;
    }
}

.section-wrapper {
    padding: 0 1.5em;
}

.divider {
    border-left: 1px solid lightgray;
}