@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/theme' as theme;

.duration-input {
  display: flex;

  > div {
    display: flex;
    width: 100%;
    max-width: 100px;
  }
}

input {
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
}

span {
  width: 10%;
  color: grey;
}