<div class="duration-input" [formGroup]="parts" (focusout)="cleanValue()" (blur)="_onTouched()">
    <div>
        <input [attr.id]="id" type="text" formControlName="hours" (keydown)="preventNonNumbers($event)">
        <span>h</span>
    </div>
    <div>
        <input type="text" formControlName="minutes" (keydown)="preventNonNumbers($event)">
        <span>m</span>
    </div>
    <div>
        <input type="text" formControlName="seconds" (keydown)="preventNonNumbers($event)">
        <span>s</span>
    </div>
</div>