.grid {
    display: flex;

    & > :not(.divider) {
        flex: 1;
    }
}

.separator {
    flex: 1;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    & > *:not(:first-child) {
        margin-left: 1em;
    }
}