<form #modelForm="ngForm" (ngSubmit)="submit()" role="form">
    <app-edit-page [modelForm]="modelForm" modelName="project" [formType]="getFormType()" [loading]="loading" (formSubmit)="submit()" (back)="close()">
        <div class="grid">
            <div>
                <div class="section-wrapper" role="region" aria-labelledby="general-header">
                    <h2 id="general-header">General information</h2>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input type="text" required name="name" matInput [(ngModel)]="model.name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Year</mat-label>
                        <app-academic-year-input required name="year" [(ngModel)]="model.year" #year="ngModel"></app-academic-year-input>
                        <mat-error *ngIf="year.errors?.['invalidFormat'] !== undefined">Invalid format, should be XXXX/YYYY with consecutive years</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Conductor</mat-label>
                        <input type="text" required name="conductor" matInput [(ngModel)]="model.conductor">
                    </mat-form-field>
                </div>
            </div>

            <div class="divider"></div>

            <div class="section-wrapper" role="region" aria-labelledby="participants-header">
                <h2 id="participants-header">Participants</h2>
                <mat-table [dataSource]="musicians" aria-label="musicians">
                    <ng-container matColumnDef="selected">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                [disabled]="model.participants.length === 0"
                                [checked]="model.participants.length > 0 && areAllMusiciansSelected()"
                                [indeterminate]="!areAllMusiciansSelected() && isSomeMusicianSelected()"
                                (change)="toggleAllMusicians()"
                            ></mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let musician">
                            <mat-checkbox 
                                [checked]="isMusicianSelected(musician)"
                                (change)="toggleMusician(musician)"
                            ></mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="givenName">
                        <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
                        <mat-cell *matCellDef="let musician">{{musician.givenName}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="familyName">
                        <mat-header-cell *matHeaderCellDef class="table-header">Family name</mat-header-cell>
                        <mat-cell *matCellDef="let musician">{{musician.familyName}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="instrument">
                        <mat-header-cell *matHeaderCellDef class="table-header">Instrument</mat-header-cell>
                        <mat-cell *matCellDef="let musician">{{ musician.instrument.name | titlecase }}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columns"></mat-row>
                </mat-table>
            </div>
        </div>
    </app-edit-page>
</form>