@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/theme' as theme;

.main {
    display: flex;

    > :not(.divider) {
        flex: 1;
        margin-right: 1em;
        margin-left: 1em;
    }

    > :first-child {
        margin-left: 0;
    }

    > :last-child {
        margin-right: 0;
    }
}

.selectable {
    cursor: pointer;

    &:hover {
        background-color: rgb(230, 230, 230);
    }

    &.selected {
        background-color: rgb(214, 214, 214);

        &:hover {
            background-color: rgb(190, 190, 190);
        }
    }
}

.bold {
    font-weight: bold;
}

.details {
    position: sticky;
    top: calc(var(--mat-toolbar-standard-height) + 1em);
}