<div fxLayout="row" role="region" aria-label="header">
    <h1>Payout for {{payout.project.name}} ({{payout.project.year}})</h1>
    <div fxLayout="row" fxFlex="" fxLayoutAlign="end center" fxLayoutGap="1em">
        <h2>Total: {{total}}€</h2>
        <button mat-raised-button color="accent" type="button" aria-label="export" (click)="export()">Export</button>
        <button mat-raised-button color="primary" type="button" aria-label="back" (click)="back()">Back</button>
    </div>
</div>

<div class="main">
    <div>
        <mat-table [dataSource]="totals" aria-label="payouts">
            <ng-container matColumnDef="givenName">
                <mat-header-cell *matHeaderCellDef class="table-header">Name</mat-header-cell>
                <mat-cell *matCellDef="let payout">{{payout.musician.givenName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="familyName">
                <mat-header-cell *matHeaderCellDef class="table-header">Family name</mat-header-cell>
                <mat-cell *matCellDef="let payout">{{payout.musician.familyName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalPayout">
                <mat-header-cell *matHeaderCellDef class="table-header">Payout</mat-header-cell>
                <mat-cell *matCellDef="let payout">{{payout.total}}€</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns" [ngClass]="{'selectable': true, 'selected': isSelected(row)}" (click)="selectRow(row)"></mat-row>
        </mat-table>
    </div>
    <div class="divider"></div>
    <div role="region" aria-label="details">
        <div class="details">
            <h2>Details{{shouldShowDetails() ? ': ' + selectedMusician() : ''}}</h2>
            <p *ngIf="!shouldShowDetails();else details">Click on a musician to show the payout details</p>
            <ng-template #details>
                <mat-table [dataSource]="eventsForSelectedRow()" aria-label="details">
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef class="table-header">Date</mat-header-cell>
                        <mat-cell *matCellDef="let event">{{event.date}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef>TOTALS</mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="rehearsal">
                        <mat-header-cell *matHeaderCellDef class="table-header">Rehearsal</mat-header-cell>
                        <mat-cell *matCellDef="let event">{{event.rehearsal}}{{event.rehearsal !== undefined ? '€' : ''}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef>{{totalsForSelectedRow().rehearsal}}€</mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="mileage">
                        <mat-header-cell *matHeaderCellDef class="table-header">Mileage</mat-header-cell>
                        <mat-cell *matCellDef="let event">{{event.mileage}}{{event.mileage !== undefined ? '€' : ''}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef>{{totalsForSelectedRow().mileage}}€</mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="concert">
                        <mat-header-cell *matHeaderCellDef class="table-header">Concert</mat-header-cell>
                        <mat-cell *matCellDef="let event">{{event.concert}}{{event.concert !== undefined ? '€' : ''}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef>{{totalsForSelectedRow().concert}}€</mat-footer-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="detailsColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: detailsColumns"></mat-row>
                    <mat-footer-row *matFooterRowDef="detailsColumns" class="bold"></mat-footer-row>
                </mat-table>
            </ng-template>
        </div>
    </div>
</div>